.message{
    padding-bottom:25px; 
    width: 100%;
}
.message img{
    width: 20px;
    height: 20px;
    line-height: 20px;
}
.message h4{
   color: rgb(144, 202, 239);
    background: rgba(255,255,255,0.5);
    font-size: 15px;
    margin-bottom:15px;
    
}
/* .photo{
    padding-left:0;
} */
.message li{
    list-style: none;
    margin: 10px 0;
    padding-left: 0;
    /* padding-right: 20px; */
}
.message li a{
    /* display: inline-block; */
    float: left;
    /* height: 100%; */
    height: 50px;
    width: 50px;
    padding: 4px;
    border: 1px double #CCC;
    background: rgba(255,255,255,0.5);
    border-radius: 100px;
    -webkit-border-radius: 100px;
}

.message li img{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: none;
}
.message li div{
    border: 1px double #CCC;
    padding: 0 8px;
    margin-left: 2%;
    text-overflow: ellipsis;
    overflow: hidden;
    text-align: center;
    background: rgba(255,255,255,0.5);
    border-radius: 8px;
    -webkit-border-radius: 8px;
}
.message li div p{
    margin:8px 0 0 0; 
   
}
.message li div span{
    color: green;
   
}
.interlinkage{
    margin-top:10px; 
}
.interlinkage img{
    width: 20px;
    height: 20px;
    line-height: 20px;
}
.interlinkage h4{
    color: rgb(144, 202, 239);
     background: rgba(255,255,255,0.5);
     font-size: 15px;
     margin-bottom:15px;
     
 }
 .interlinkage div li{
     list-style: none;
     padding: 0;
      
 }
 .interlinkage div li a{
     color: rgb(233, 143, 54);
     float: left;
     margin-right:8px; 
     margin-top: 20px;
     margin-bottom:30px; 
     line-height: 15px;
     padding: 5px 10px;
     /* box-sizing: border-box; */
     border: 1px dotted #fff;
     background: linear-gradient(
 rgba(255,255,255,0.9),
  rgba(255,255,255,0.1),
 rgba(255,255,255,0.9));
     text-align: center;
     font-size: 13px;
     text-decoration: none;
     background: -webkit-linear-gradient(
 rgba(255, 255, 255, 0.9), 
 rgba(255, 255, 255, 0.1),
 rgba(255, 255, 255, 0.9));
 }
.interlinkage div a:hover{
   border:1px double #000;
   border-radius: 30%;
   -webkit-border-radius: 8px;
   -webkit-transition: all 2s;
   transition: all 2s;
}

.privacy img{
    width: 20px;
    height: 20px;
    line-height: 20px;
}
.privacy h4{
   color: rgb(144, 202, 239);
    background: rgba(255,255,255,0.5);
    font-size: 15px;
    margin-bottom:25px;
    
}
.privacy div{
    display: block;
    line-height: 15px;
}
.privacy ul{
    padding: 0;
}
.privacy li:nth-child(1){
    color: #f00;
    
}
.privacy li{
    font-size: 15px;
    list-style: none;
    /* display: block; */
    /* height: 15px; */
    line-height: 30px;
}
.web-info{
    margin-top: 15px;
}
.web-info img{
    width: 20px;
    height: 20px;
    line-height: 20px;
}
.web-info h4{
   color: rgb(144, 202, 239);
    background: rgba(255,255,255,0.5);
    font-size: 15px;
    margin-bottom:25px;
    
}
.feedback{
    margin-top: 15px;
}
.feedback img{
    width: 20px;
    height: 20px;
    line-height: 20px;
}
.feedback h4{
   color: rgb(144, 202, 239);
    background: rgba(255,255,255,0.5);
    font-size: 15px;
    margin-bottom:25px;
    
}
.feedback div i{
    width: 35px;
    height: 100%;
    background: rgba(255,255,255,0.8);
    border: 1px solid #ccc;
    box-sizing: border-box;
    border-right: none;
    line-height: 35px;
    text-align: center;
    margin: 0;
    float: left;

}
.feedback div input{
    /* height: 100%; */
    margin: 0;
    padding: 0;
    /* float: left; */
    box-sizing: border-box;
    width: 230px;
    line-height: 35px;
    border: #ddd 1px solid;
    /* box-shadow: inset 0 0 2px rgba(0,0,0,0.05); */
    background: rgba(255,255,255,0.5);
    text-indent: 10px;
    transition: all 0.5s;
    -webkit-transition: all 0.5s;
    color: #ccc;
    
}
/* .UserName{
    background: #FEFBD3;
}

.feedback div input:hover{
    background: #FEFBD3;
} */
#username{
    outline: none;
    /* cursor: no-drop; */
    box-shadow: 0 0 1px 1px rgb(233, 143, 54) inset;
    border: 1px solid rgb(233, 143, 54);;
}
.message-phone{
    margin-top: 40px;
    margin-bottom: 40px;
}
#message-content{
    margin-top: 40px;
    color: #ccc;
    background: #FEFBD3;
    margin-bottom:40px; 
}
#message-content{
  
    /* margin: 0; */
    padding: 0;
   
    box-sizing: border-box;
   
 
    border: #ddd 1px solid;
    /* box-shadow: inset 0 0 2px rgba(0,0,0,0.05); */
    background: rgba(255,255,255,0.5);
    text-indent: 10px;
    transition: all 0.5s;
    -webkit-transition: all 0.5s;

    outline: none;
    /* cursor: no-drop */
    box-shadow: 0 0 1px 1px rgb(233, 143, 54) inset;
    border: 1px solid rgb(233, 143, 54);;
}
#txtCode{
    /* margin: 0; */
    padding: 0;
   
    box-sizing: border-box;
   
 width: 100px;
    border: #ddd 1px solid;
    /* box-shadow: inset 0 0 2px rgba(0,0,0,0.05); */
    background: rgba(255,255,255,0.5);
    text-indent: 10px;
    transition: all 0.5s;
    -webkit-transition: all 0.5s;
    /* width: 15%; */
    outline: none;
    /* cursor: no-drop */
    box-shadow: 0 0 1px 1px rgb(233, 143, 54) inset;
    border: 1px solid rgb(233, 143, 54);
}
#proof-photo{
    height: 35px;
    width: 45px;;
}
.question{
    margin-top: 40px;
}
#apply{
    margin-top: 40px;
}
.content{
    padding: 0;
}
#btnSubmit{
    color:rgb(233, 143, 54); 
    padding: 0;
   width: 150px;
    box-sizing: border-box;
   
 
    border: #ddd 1px solid;
    /* box-shadow: inset 0 0 2px rgba(0,0,0,0.05); */
    background: rgba(255,255,255,0.5);
    text-indent: 10px;
    transition: all 0.5s;
    -webkit-transition: all 0.5s;
    /* width: 15%; */
    outline: none;
    /* cursor: no-drop */
    box-shadow: 0 0 1px 1px rgb(233, 143, 54) inset;
    border: 1px solid rgb(233, 143, 54);
}
#btnSubmit:hover{
    color: #000;
}